.footer-container {
    background-color: #242424;
    padding-top: 2rem;
	padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	color: rgb(142, 142, 142);
}
  
.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
}
  
.footer-links {
    display: flex;
    justify-content: center;
}
  
.footer-link-items {
    display: flex;
    flex-direction: column;
    margin: 32px;
    text-align: left;
}
  
.footer-link-items > h2 {
    margin-bottom: 10%;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.social-icon-link {
    color: #fff;
    font-size: 1.5rem;
}
  
.social-media-wrap {
    display: flex;
	flex-direction: column;
    align-items: center;
	padding-top: 5%;
}
  
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
  
.social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
  
.website-rights {
    color: #fff;
	margin-top: 20%;
    margin-bottom: 2%;
}

/* --- RESPONSIVE --- */
  
@media screen and (max-width: 820px) {
	.footer-container{
		padding-top: 0;
	}

	.social-media-wrap{
		width: 100%;
	}

    .footer-links {
      padding-top: 2rem;
	  flex-direction: column;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }

	.footer-link-items{
		text-align: center;
	}

	.social-icons{
		padding-bottom: 10%;
	}
}