.services{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.titleServices{
    padding-top: 8%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hola{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 30px;
    width: 300px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    border-color: #3caae9;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.dashbb{
  display: flex;
  justify-content: center;
}