.signup-container{
    /* background: url('../../public/images/img-home2.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0,0,0,0.2);
    object-fit: contain;
    background-color: whitesmoke;
}

.signup-container > h1 {
    color: whitesmoke;
    font-size: 50px;
    padding-bottom: 3%;
}

.inputBox{
    display: block;
    margin: 15px;
    padding: 10px;
    width: 300px;
    border: 1px solid skyblue;
    border-radius: 25px;
    border-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.submitBox{
    display: block;
    margin: 15px;
    padding: 10px;
    width: 300px;
    border: 1px solid #3caae9;
    border-radius: 25px;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #3caae9;
    cursor: pointer;
}

.submitBox:hover{
    background-color: gray;
    border: 1px solid gray;
    transition: all 250ms ease-out;
}

.inputLogin{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px){
    .signup-container > h1{
        padding-top: 50%;
        font-size: 30px;
    }

    .inputLogin{
        flex-direction: column;
    }

    .submitBox{
     margin-bottom: 30%;
    }
}